<div class="sectionTwo">
<div class="navbar">
   <div class="navbar-nav navbar-expand-lg navbar-light navbar-default">
     <a class="navbar-brand navigation-brand"><img src="images/code.png" height="50" width="50" alt=""></a>
     <div class="nav-item list-item1">
       <li><a  class="navItemText hover" href="/">Home</a></li>
     </div>
     <div class="nav-item list-item2">
       <li><a href="/home #div4"  class="hover navItemText">Skills</a></li>
     </div>
     <div class="nav-item list-item3">
       <li><a href="/weatherWithout" class="hover navItemText">Weather</a></li>
     </div>
     <div class="nav-item list-item-last">
       <li><a class="navItemText hover" href="/contact">Contact</a></li>
     </div>
   </div>
</div>
</div>
