<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <link rel="icon" href="images/favicon.ico">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles2.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>

<%- include("partials/header.ejs") -%>

        <img class="top" src="images/mountain.jpg" alt="">
        <div class="con">
          <table>
          <tr>
            <td style="background-color:white;">
        <div class="MessageBlock">
        <h5>Send a Message</h5>
        <form action="/contact" method="post">
        <input class="form-control" type="text" name="Name" value="" placeholder="Name" autocomplete="off">
        <input class="form-control" type="email" name="Email" value="" placeholder="Email" autocomplete="off">
        <textarea class="form-control" name="Message" rows="8" cols="50" placeholder="Your Message/Feedback"></textarea> <br>
        <button class="btn btn-lg btn-dark" type="submit" name="Submit">Send</button>
        </form>
        </div>
        </td>
        <td style="background-color:#393e46">
        <div class="ContactBlock">
        <h5>Contact Info</h5>
        <br>
        <br>
        <img src="https://img.icons8.com/ios-glyphs/90/000000/iphone-x.png" height="28" width="28" style=""/><p class="ContactInfoText" style="display:inline-block; margin-left:25px;" >abhishekdolli@gmail.com</p> <br><br>
        <img src="https://img.icons8.com/ios-glyphs/90/000000/filled-message.png" height="28" width="28"/><p class="ContactInfoText" style="display:inline-block; margin-left:25px;" >+91 890-404-7354</p> <br><br>
        <img src="https://img.icons8.com/ios-glyphs/30/000000/map-pin.png" height="28" width="28"/><p class="ContactInfoText" style="display:inline-block; margin-left:25px;" >Hubli, Karnataka, India</p> <br><br>
        <a class="btn btn-dark btn-lg" style="margin-left:40px; " href="downloads/resume.pdf" Download>Download Resume</a><br>
        <br>
        <a href="https://github.com/abhishekD97"><i style="margin-left:85px;margin-right:15px; color:#222831;" id="git" class="fab fa-github-square fa-1x"></i></a>
        <a href="https://www.linkedin.com/in/abhishek-dolli-0526b4196"><i style="margin-left:15px;margin-right:15px; color:#222831;" id="git" class="fab fa-linkedin-in fa-1x"></i></a>
        <a href="https://www.instagram.com/cyborg_8274/"><i style="margin-left:15px;margin-right:15px; color:#222831;" id="git" class="fab fa-instagram fa-1x"></i></a>
        </div>
        </td>
        </tr>
        </table>
        </div>

 <script src="app.js" charset="utf-8"></script>
 </body>
