.howering-intro{
  position: absolute;

  left: 36%;
  top: 40%;
  height: 120px;
  width: 300px;
  height: 190px;
  width: 450px;
  text-align: center;
}
.intro-name{
  position: absolute;
  border-style: solid;
  border-color: green;
  height: 100px;
  width: 350px;
  padding: 30px;
}
.introduction{
  position: absolute;
  left: 20%;
  top: 70%;
}
.introduction-line2{
  position: absolute;
  left: 10%;
  top: 80%;
}
#div1{
  height: 700px;
  background-color: #222831;
  color: white;
}
.table-data1{
  width: 50%;
}
.table-data1 h3{
  margin-left: 27px;
  border-left-style: solid;
  border-color: green;
  padding-left: 20px;
}
.table-data1 p{
  margin-left: 40px;
}
#div2{
  padding-left: 6rem;
  /* margin-top: 9rem; */
  padding-top: 9rem;
  padding-bottom: 1rem;
}
.card-deck{
  margin: 120px;
  text-align: center;
  padding-top: 60px;
}
.card{
 background-color: inherit;
 border-color: #393e46;
}
.card-body{
  color: white;
  border-color: inherit;
}
.card-header{
  border-color: #393e46;
  background-color: #393e46;
}
#div3{
  background-color: #393e46;
  height: 400px;
}
.card-header .cardOneHeader{
  position: absolute;
  color: white;
  left: 115px;
  top:120px;
}
.card-header .cardTwoHeader{
  position: absolute;
  color: white;
  left: 115px;
  top:120px;
}
.card-header .cardThreeHeader{
  position: absolute;
  color: white;
  left: 70px;
  top:  120px;
}
.card-body p{
  padding-top: 25px;
}
.card .cardOneImg{
  position: relative;
  width: 100px;
  height: 100px;
  filter: invert(100%);
  bottom: 5px;
}
.card .cardTwoImg{
  position: relative;
  width: 100px;
  height: 100px;
  filter: invert(100%);
  bottom: 20px;
}
.card .cardThreeImg{
  position: relative;
  width: 100px;
  height: 100px;
  filter: invert(100%);
  bottom: 20px;
}
#div4{
  background-color: #222831;
  padding: 50px;
  text-align: center;
  height: 400px;
}
#div4 li{
  color: white;
}
#div4 h3{
  color: white;
}
#div4 table{
  width: 100%;
}
.skillsImg{
  height: 70px;
  width: 70px;
}
.skillsRow1{
  height: 170px;
}
.footerImg{
  height: 80px;
  width: 80px;
}
#div5{
  height: 340px;
  text-align: center;
  padding: 70px;
}
#div5 table{
  margin-left: 45.96%;
  width: 8%;
}
.fab {
  color : black;
}
.navItem{
  color: white;
}
/*--------------------------- Navigation styles -----------------------------------*/
.sectionTwo{
  display: inline-block;
  position: absolute;
  right: 164px;
  z-index: 1;
}
.nav-item{
  margin: 18px 20px 0 20px;
}
.navItemText{
  color: white;
}
.navItemText:hover{
  text-decoration: none;
  color:white;
}
.navigation-brand{
  display: inline-block;
  position: relative;
  right: 810px;
}
.navbar{
   position: relative;
   left: 80px;
}
/*--------------------------- Navigation styles -----------------------------------*/
